:root {
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);

  /* ### Neutral */

  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 62.5%;
}

body {
  background-color: var(--Dark-Blue);
  /*  display: grid;
    place-content: center; */
  height: 100vh;
  padding-top: 15rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.wrapper {
  height: 35vh;
}

.main {
  background-color: var(--Dark-Grayish-Blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 35vh;
  border-radius: 1.3rem;
  position: relative;
  padding-bottom: 4rem;
}

.number {
  color: var(--Neon-Green);
  font-size: 1.6rem;
}

.quote {
  font-size: 2.8rem;
  color: white;
  text-align: center;
}

picture {
  display: grid;
  place-content: center;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--Dark-Grayish-Blue);
}

.btn {
  padding: 1rem;
  border-radius: 50%;
  display: grid;
  place-content: center;
  position: absolute;
  top: 90%;
  background-color: var(--Neon-Green);
  border: none;
}

.btn:hover {
  box-shadow: 0.2rem 0.2rem 3rem var(--Neon-Green);
  cursor: pointer;
  transform: scale(1.1);
}

.footer {
  margin-top: 15rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
